{{#unless (like @key 'config')}}
<div class="grid-x grid-margin-x">
    <div class="cell">
        <label>{{@key}}
            <input type="text" name="{{@key}}[{{default}}]" value="{{value}}" placeholder="{{@key}}">
        </label>
    </div>
</div>
{{/unless}}